body{
    background-color: antiquewhite;
}
h2{
    margin:auto;
    padding-left:580px;
    padding-top: 50px;
}

.calc{
    margin:auto;
    width:50%;
    padding-left: 310px;
    padding-top: 50px;
}
.calculator{
    padding: 10px;
    border-radius: 1em;
    height: 280px;
    background-color: #191b28;
    width:50%;
}
.display-box{
   width:100%;
   height: 65%;
   border: solid black 0.5px;
color: black;
   border-radius: 5px;
}
#clr{
    background-color: #fb0066;
}
input[type=button]{

    background-color: #64278f;
    border: solid black 0.5px;
    width:100%;
    border-radius: 5px;
    height: 60%;

}
input:active[type=button]
{
    background-color:beige;
}